* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Raleway';
}

a {
    color: #000;
}

:root{
   --cor-de-fundo: #F5F5F5;
}


/*mobile*/
.container {
    padding: 10px;
    background-color: var(--cor-de-fundo);
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.header .menu__list {
    display: none;
}

.nav {
    display: flex;
    gap: 20px;
}

.header .header__title {
    display: flex;
    gap: 10px;
}

.menu__list__item__contato {
    font-weight: 700;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title__profile {
    width: 30%;
    border-radius: 50%;
}

.title__container p {
    margin: 20px 0;
}

.title__network {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin: 10px 0;
}

.about__title {
    font-size: 1.5rem;
    margin-top: 30px;
}

.about p {
    margin: 20px 0;
}

.skills {
    margin: 30px 0;
}

.skills__title {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
}

.skills__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    gap: 20px;
}

.skills__box {
    background-color: #fff;
    padding: 10px;
}

.hobbies {
    margin: 30px 0;
}

.hobbies__title {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
}

.hobbies__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    gap: 20px;
}

.hobbies__box {
    background-color: #fff;
    padding: 10px;
}

.academic__title {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
}

.academic__courses__box {
    margin: 10px 0 30px 0;
}

.academic__courses__img {
    background-color: #fff;
    width: 100%;
    padding: 20px;
    margin: auto;
    text-align: center;
}

.academic__courses__box img {
    width: 100px;
}

.experience {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.experience__section__title {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
}

.experience__box, .experience__box__reverse {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.experience__description {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.experiencia__botao--repo {
    background-color: #F5F5F5;
    color: rgb(73, 73, 238);
    border: 1px solid rgb(73, 73, 238);
    padding: 10px 15px;
    font-size: 1em;
}

.experiencia__botao--demo {
    background-color: rgb(73, 73, 238);
    color: #fff;
    border: 1px solid rgb(73, 73, 238);
    padding: 10px 15px;
    font-size: 1em;
}

section.formcontato{
    display: flex;
    color: #464646;
    margin: 30px 0;
}

.formcontato__title {
    font-size: 1.5rem;
    color: #000;
    margin-bottom: 20px;
}

.formcontato__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formcontato--esquerda {
    display: none;
}

.formcontato__input, .formcontato__textarea {
    border: none;
    line-height: 4em;
    padding: 5px;
}

.formcontato__botao {
    background-color: rgb(73, 73, 238);
    width: 40%;
    color: #fff;
    border: 1px solid rgb(73, 73, 238);
    padding: 10px 15px;
    font-size: .8em;
}

.erro {
    color: #ff0000;
    font-size: .7rem;
}

section.footer{
   display: flex;
   background-color: #fff;
   color: #464646;
   justify-content: center;
   text-align: center;
   margin-top: 15px;
}





/*tablet*/
@media (min-width: 425px) {
    .title {
        display: flex;
        flex-direction: row-reverse;
        gap: 20px;
        font-size: 1.2rem;
    }

    .skills__cards {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .hobbies__cards {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .academic__courses {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}

/*Telas grandes*/
@media (min-width: 768px){  
    .container {
        padding: 40px;
    }

    .header .menu__list {
        display: flex;
        gap: 20px;
    }

    section.title {
        display: flex;
        align-items: center;
        font-size: 1.3rem;
    }

    .about {
        width: 70%;
    }

    .skills__cards {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .hobbies__cards {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .academic__courses {
        gap: 40px;
    }

    .experience__box {
        flex-direction: row;
        align-items: center;
    }

    .experience__box img {
        width: 60%;
    }

    .experience__info {
        width: 40%;
    }

    .experience__box__reverse {
        flex-direction: row-reverse;
        align-items: center;
    }

    .experience__box__reverse img {
        width: 60%;
    }



    

    /* .experiencie__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    .experiencie__box__reverse {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        flex-direction: row-reverse;
    }

    .experiencie__box__reverse .experience__img {
        width: 80%;
    }

    .experience__img {
        width: 40%;
    }

    .experience__img img{
        width: 100%;
    }

    .experience__info {
        width: 50%;
    } */

    .formcontato {
        display: flex;
        justify-content: center;
        margin: 30px 0;
    }

    .formcontato__contacto {
        display: flex;
        gap: 20px;
    }
   
    .formcontato--esquerda {
        display: flex;
    }
}
